body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1241px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12622 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:12px;
  width:976px;
  height:600px;
}
#u12623 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:972px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:600px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12624 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:12px;
  width:240px;
  height:600px;
}
#u12625 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:51px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12627 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:12px;
  width:240px;
  height:51px;
}
#u12628 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12629 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:28px;
  width:97px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12632 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:32px;
  width:14px;
  height:2px;
}
#u12633 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12634 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:36px;
  width:14px;
  height:2px;
}
#u12635 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12636 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:40px;
  width:14px;
  height:2px;
}
#u12637 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12638 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:120px;
  width:236px;
  height:37px;
}
#u12639 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12640 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:84px;
  width:236px;
  height:37px;
}
#u12641 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12642 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:156px;
  width:236px;
  height:37px;
}
#u12643 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12644 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:192px;
  width:236px;
  height:37px;
}
#u12645 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12646 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:228px;
  width:236px;
  height:37px;
}
#u12647 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12648 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:264px;
  width:236px;
  height:37px;
}
#u12649 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12650 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:300px;
  width:236px;
  height:37px;
}
#u12651 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12652 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:336px;
  width:236px;
  height:37px;
}
#u12653 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12654 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:372px;
  width:236px;
  height:37px;
}
#u12655 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12656 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:408px;
  width:236px;
  height:37px;
}
#u12657 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12658 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:444px;
  width:236px;
  height:37px;
}
#u12659 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12660 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:480px;
  width:236px;
  height:37px;
}
#u12661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12662 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:516px;
  width:236px;
  height:37px;
}
#u12663 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u12664 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:97px;
  width:16px;
  height:16px;
}
#u12665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u12666 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:96px;
  width:110px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u12667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u12668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u12668 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:130px;
  width:110px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u12669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u12670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:2px;
}
#u12670 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:84px;
  width:955px;
  height:1px;
}
#u12671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u12672 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:40px;
  width:389px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u12673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  word-wrap:break-word;
}
#u12674 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:312px;
  width:107px;
  height:25px;
}
#u12674_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u12675 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:202px;
  width:100px;
  height:18px;
}
#u12676 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12675_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
